*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


.container{
    display: grid;
    grid-template-rows: 30px auto auto;
    


}

@media screen and (min-width: 800px) {
    .container {
      margin: 1em 2em;
    }
  }

    


.header{
    background-color: white;

}

.main{
    display: grid;
    grid-template-rows: auto auto auto auto auto;

}

.main1{
    
    align-items: center;

    background-color: rgb(50, 50, 214)


}

.main2{
    background-color: rgb(241, 238, 238)
}

.form1{
    color: rgb(252, 249, 249);
    font-size: small;
    margin-left: 100px;
    text-decoration: none;
    margin-top: 20px;
}

.form2{ 
    background-color: white;

    border-radius: 5px;
    text-decoration: none;
    margin-left: 10px;
    margin-top: 20px;
    font-size: small;


}

.mainforms{
    width:900px;
    margin: 0 auto;
    display: grid;
    grid-template-columns: 900px 300px;
    
    
}
 
button{
    width: 100%; 
    
}

.create-your-account{
    background-color:rgb(20, 74, 156)
}


.Google-sign-up{
    width: 100%;
    
}


.Google-sign-up p{
    display: inline;
    

}
input{
     width: 100%;
 }
 
 .main2{
     place-items: center; 
     
 }

 #images{
     display: flex;
     width: 70vh;
     justify-content: space-between;
     margin: auto;
 }

 #main2header{
     text-align: center;



 }

 .small-logos{
     display: grid;
     grid-template-columns: 1fr 1fr;
     width: 800px;
     margin: 0 auto;
     font-size: small;


 }

 #ul{
     margin-left: 200px;
     
 }

 .deploynscale{
     text-align: center;
     font-size: small;
     color: rgba(37, 37, 102, 0.603);
    
 }

 .main3{
     background-color: rgb(241, 238, 238)
 }
 
 .main4{
     text-align: center;
     background-color: rgb(160, 127, 127);
    
 }
 .main5{

 }
  .features{
      display: grid;
      grid-template-columns: 1fr 1fr 1fr;
      width: 800px;
      margin: auto;
      font-size: small;
  }